.checkbox-icon:before {
    border-color: white;
    display: table;
    width: 100%;
    height: 100%;
    border-width: 1px;
    border-style: solid;
    border-radius: 0;
    background: #fff;
    content: ' ';
    -webkit-transition: background-color 20ms ease-in-out;
    transition: background-color 20ms ease-in-out;
}

.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
    background: #ea8188;
    border-color: #ea8188;
}

.checkbox-icon:after {
    transform: rotate(-45deg);
    position: absolute;
    top: 12%;
    left: 12%;
    width: 10px;
    height: 5px;
    border: 1px solid #fff;
    border-top: 0;
    border-right: 0;
    content: ' ';
    opacity: 0;
}

.risk-family-illness {
    margin-right: 10px;
    float: right;
}

.risk-right-icon {
    height: 18px;
    position: absolute;
    right: 10px;
}

.risk-button {
    margin: 0 12px;
    color: white;
    background: #54bfcf;
    font-size: 20px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border-radius: 5px;
}

.risk-symptom-choose {
    border: 0;
    padding-left: 35px;
}

.risk-symptom-num {
    background: #e98a90;
    color: white;
    display: inline-block;
    width: 20px;
    text-align: center;
    border-radius: 50%;
    margin-right: 5px;
}

.checkbox-icon {
    margin-top: 2px;
    margin-right: 10px;
    width: 15px;
    height: 15px;
    border: 1px solid #ea8188;
    border-radius: 2px;
    -webkit-appearance: none;
}

.risk-symptom-name {
    margin-left: 10px;
    float: left;
    height: 14px;
    line-height: 14px;
}

.risk-modal-box {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 100;
    background-color: #333;
    opacity: 0.4;
}

.risk-modal-popup {
    border-radius: 10px;
    width: 60%;
    height: 350px;
    position: absolute;
    z-index: 101;
    background: white;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0
}

.risk-modal-info {
    height: 40px;
    line-height: 40px;
}

.risk-modal-family-symptom {
    padding-left: 30px;
}

.risk-modal-ul {
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}

.risk-modal-hide {
    color: white;
    background: #f0939b;
    margin: 13px auto;
    width: 150px;
    border-radius: 20px;
}