.userCenter-bc {
    background: #F7F7F7;
}

.userCenter-icon-border {
    border: 0;
}

.userCenter-exit-login {
    color: #12a9bc;
    border: 1px solid #12a9bc;
    font-size: 18px;
    width: 95% !important;
    margin: auto;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 30px;
}

.userCenter-exit-login:hover {
    color: #12a9bc;
}

.userCenter-back {
    margin-top: 5px;
    width: 30px;
    text-align: center;
    font-size: 25px;
}

.userCenter-user-name-color {
    color: white;
    margin: 0 0 15px 0;
}

.userCenter-img {
    height: 24px !important;
    margin-top: 12px !important;
}

.userCenter-avatarImg {
    border-radius: 90%;
    width: 100px;
    height: 100px;
}