/*modal*/

.home-modal-carrousel-mozzie-ing {
    position: absolute;
    top: 70px;
    right: 20px;
    width: 40%
}

.home-carrousel-text-b {
    position: absolute;
    bottom: 20px;
    margin: auto;
    left: 0;
    right: 0;
}

.home-modal-illness {
    border-right: 0;
    border-left: 5px solid #e89f7c;
    margin-bottom: 25px;
    font-size: 15px;
}

.home-modal-arrow {
    position: fixed;
    top: 100px;
    height: 90px;
    width: 35px;
    z-index: 100
}

.home-modal-arrow-l {
    left: 5px;
}

.home-modal-arrow-r {
    right: 5px;
}

.home-carrousel-img-text {
    position: absolute;
    bottom: 28px;
    font-size: 15px;
    color: #FFF;
    text-align: center;
    left: 0;
    right: 0;
    width: 60%;
    margin: 0 auto;
    height: 35px;
    background: rgba(206, 181, 91, 0.7);
    line-height: 35px;
    border-radius: 25px;
}

.home-modal-text-p16 {
    padding: 0 16px;
}

.home-modal-user-div {
    position: absolute;
    right: 0;
    top: 0;
    height: 44px;
    width: 32px
}

.home-modal-user-img {
    height: 25px;
    margin-top: 8px;
}

.home-modal-center {
    font-size: 12px;
    color: #666;
}

.home-modal-title-name {
    font-weight: 300;
    font-size: 15px;
    color: #333333;
    margin: 0;
}

.home-carrousel-img-size {
    height: 95px;
}

.home-modal-header {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.3);
}

/*home*/

.home-position-img {
    width: 23px;
    height: 25px;
    margin: 3px
}

.home-position-ios-test {
    font-size: 18px;
    float: right;
    margin-top: 7px;
}

.home-position-android-test {
    font-size: 18px;
    position: fixed;
    top: 12px;
    left: 33px;
}

/*homeinfo*/

.home-table {
    margin-top: -4px;
    color: #545454;
}

.home-table td {
    padding-bottom: 25px;
    padding-top: 5px;
}

.home-table th {
    vertical-align: middle;
    padding-top: 25px;
    text-align: center;
}

.home-table th img {
    width: 50%;
}

.home-num-count {
    color: #E3667C
}

.home-num-text {
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    font-size: 18px;
    color: white;
}

.home-theme-img {
    height: 47%
}

.home-blank {
    height: 16px;
    border-bottom: 1px solid #c4c4c4;
    border-top: 1px solid #c4c4c4;
}

.home-photo-top-text {
    color: #545454;
    padding: 25px;
    margin: 0;
    font-size: 18px;
    font-weight: 400;
}

.home-photo-fl {
    width: 45%;
    display: inline-block;
    text-align: center;
}

.home-photo-img {
    width: 100px;
}

.home-photo-text {
    color: #545454;
    margin-top: 5px;
}
