.userCenter-bc {
    background: #F7F7F7;
}

.userCenter-icon-border {
    border: 0;
}

.userCenter-exit-login {
    color: #12a9bc;
    border: 1px solid #12a9bc;
    font-size: 18px;
}

.userCenter-back {
    height: 20px;
    width: 10px;
    margin: 10px 15px 0;
}

.userCenter-user-name-color {
    color: white;
    margin: 0 0 15px 0;
}

.userCenter-img {
    height: 24px!important;
    margin-top: 12px!important;
}

.userCenter-avatarImg {
    border-radius: 90%;
    width: 100px;
    height: 100px;
}