.login-verification-button {
    height: 42px !important;
    min-height: 0 !important;
    background: #cccccc;
    margin: 0 12px;
    line-height: 42px !important;
}

.login-verification-button:hover {
    color: white;
}

.login-text {
    color: #999999;
    margin: 0 12px
}

.login-input-fl {
    width: 60%;
    float: left;
}

.login-item-p {
    padding: 3px 0 3px 16px;
}

.login-input-fr {
    float: right;
    width: 35%;
    min-width: 100px;
    height: 42px;
    border: 1px solid #ddd;
    font-size: 17px;
    line-height: 42px;
    color: #387DB3;
    margin-bottom: 90px;
}
